@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
.tema-button{
    display: inline-block;
}
body {
    --theme-background: #BFBB98;
    --theme-foreground: #222222;
    --theme-accent-background: #6F96A6;
    --theme-accent-foreground: #F2F2F2;
    --theme-icon: #8C031C;

}
body.theme-dark {
    --theme-background: #4D8C56;
    --theme-foreground: #222222;
    --theme-accent-background: #69BF75;
    --theme-accent-foreground: #222222;
    --theme-icon: #8C031C;
    background: url(imagens/2160c7949ac4fc9f4eefced40ca24318.jpg) no-repeat center;
    background-size: cover;
}

body.theme-pink {
    --theme-background: #c6016b;
    --theme-foreground: #422731;
    --theme-accent-background: #ff6bb9;
    --theme-accent-foreground: #F2F2F2;
    --theme-icon: #8C031C;
    background: url(imagens/rosa-arbor.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* Aqui começa o CSS padrão */
body {
    background: var(--theme-background);
    color: var(--theme-foreground);
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    background: url(imagens/janela-e-chuva-disco-tocando-na-vitrola.gif) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

button, select {
    background: var(--theme-accent-background);
    color: var(--theme-accent-foreground);    
    padding: 0.5em 1em;    
    border: 0px none;
    border-radius: 3px;
}

/* SEU BODY */

p{
    justify-content: center;
}
ul{
    flex-direction: column-reverse;
    margin-bottom: 20px;
}
.header button{
    position: absolute;
    right: 18%;
    margin-top: -30px;
}
.header i{
    font-size: 22px;
}
.todolist{
    margin-top: 40px;
    width: 60%;
}
.titulo{
    text-align: center;
    font-size: 30px;
}
.bxs-eraser{
    background: var(--theme-accent-background);
}
.textInsert{
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}
.divInsert{
    padding: 12px;
    background: var(--theme-background);
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 5px 10px var(--theme-accent-foregroundd);
}
button{
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.bx-plus{
    font-size: 30px;
    margin-left: 10px;
    background: var(--theme-accent-background);
    border-radius: 50%;
    padding: 5px;
    color: var(--theme-accent-foreground);
}
.divLi{
    margin-top: 20px;
    padding: 10px;
    background: var(--theme-accent-background);
    box-shadow: 6px 5px 10px var(--theme-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.divLi span{
    width: 80%;
    color: var(--theme-foregroundnd);
}
.divLi input{
    width: 10%;
    outline: none;
    accent-color: currentcolor;
}
.divLi i{
    font-size: 22px;
    color: var(--theme-icon);
}
li{
    list-style-type: none;
}
.line-through{
    text-decoration: line-through;
}
@media(max-width:500px){

.tema-button{
    display: grid;
}
}
@media (max-width: 775px) {
    input{
        width: 90%;
    }
    .divInsert button{
        width: 20%;
    }
    i {
        font-size: 25px;
        padding: 0;
    }
    p{
        font-size: medium;
    }
}